dist
*.a
*.so
*.o
*.mode1v3
*.pbxuser
*.exe
*.perspectivev3
*.ncb
*.opt
*.suo
*.dylib
*.vcproj.*
*.ps
abc/abc
abc/src/build
abc/DebugLib
abc/ReleaseLib
abc/arch_flags
*~
*~
.cabal-sandbox
cabal.sandbox.config
